<div>
	<h1>Prime Number Calculator</h1>
	<form id="prime-form">
		<label>
			<label for="input_number">Enter A Number To Check If It's Prime</label>
			<input
				type="number"
				name="number"
				placeholder="Enter Positive Whole Number"
				id="input_number"
			/>
		</label>
		<button type="submit">Search</button>
	</form>
	<div id="error"></div>
	<h3>Search History</h3>
	<ul id="attempts"></ul>
</div>