<form action="/" method="POST" class="search-form">
	<h1>Search For Shows By KeyWords</h1>
	<label>
		Enter Search Term
		<input
			type="text"
			name="search-key"
			placeholder="Search"
			value=""
			class="input"
		/>
	</label>
	<button type="submit">Search</button>
</form>