<h1>Search For Shows By KeyWords</h1>
<form action="/" method="POST" class="search-form">
	<label>
		Search
		<input
			type="text"
			name="search-key"
			placeholder="Search"
			value=""
			class="input"
		/>
		<button type="submit">Go</button>
	</label>
</form>