<html>
	<head>
		<meta charset="utf-8" />
		<title>Prime</title>
		<link rel="stylesheet" href="/public/css/styles.css" />
	</head>
	<body id="root">
		<main>
			{{{body}}}
		</main>
		<footer>
			<p>Brendan Probst</p>
			<p>10450129</p>
		</footer>
		<script src="/public/js/prime.js"></script>

	</body>
</html>