<div>
	<form id="show-form">

	</form>
	<div id="error">
		<p class="error-message"></p>
	</div>
	<div id="shows-list">
		<p>Show List</p>
	</div>
	<div id="show-details">
		<img src="" alt="" />
		<h1></h1>
	</div>
</div>