<div>
	<form id="show-form">
		<label>
			Search Term
			<input id="search-input" />

		</label>
		<button type="submit">Search Shows</button>
	</form>
	<div id="error">
		<p class="error-message"></p>
	</div>
	<div id="show-details">
		<h2>Show Details</h2>
	</div>
	<div id="shows-list">
		<p>Show List</p>
	</div>

</div>